// app global css in Sass form
@import '~bulma/bulma'

$grey: #f5f5f5

body
  user-select: none
  -khtml-user-select: none
  -o-user-select: none
  -moz-user-select: -moz-none
  -webkit-user-select: none

#q-app
  @media screen and (min-width: 1024px)
    max-width: 768px
    margin: 0 auto
    box-shadow: 0 1.2px 2.5px rgba(0, 0, 0, 0.028), 0 2.9px 5.9px rgba(0, 0, 0, 0.04), 0 5.4px 11.1px rgba(0, 0, 0, 0.05), 0 9.6px 19.9px rgba(0, 0, 0, 0.06), 0 18px 37.2px rgba(0, 0, 0, 0.072), 0 43px 89px rgba(0, 0, 0, 0.1)

.q-toolbar__title
  font-size: 16px

.toolbar-avatar
  // border: 2px solid #9e9e9e

.todo-list
  margin-bottom: 40px
  background: #fff
  border-radius: 3px
  border: 1px solid #ccc
  // box-shadow:
  //   0 1.2px 3.1px rgba(0, 0, 0, 0.014),
  //   0 3.4px 8.6px rgba(0, 0, 0, 0.02),
  //   0 8.1px 20.8px rgba(0, 0, 0, 0.026),
  //   0 27px 69px rgba(0, 0, 0, 0.04)
  //
  // transition: 0.3s box-shadow ease-in-out

  // &:hover
  //   box-shadow:
  //     0 1.1px 3.1px rgba(0, 0, 0, 0.024),
  //     0 3.1px 8.6px rgba(0, 0, 0, 0.035),
  //     0 7.9px 20.8px rgba(0, 0, 0, 0.046),
  //     0 27px 69px rgba(0, 0, 0, 0.07)
  //
  // }

.todo-list-title
  padding: 10px

.todo-list-item
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  padding: 30px 20px
  margin: 10px
  border: 1px solid #ccc

.create-todo-list
  display: flex
  justify-content: center
  align-items: center
  padding: 30px 20px
  margin-bottom: 40px
  border-radius: 3px
  color: #dedede
  border: 1px solid #ccc
  background: #fff

.create-todo-list
  cursor: pointer
  i
    font-size: 30px
    color: #ccc

.stack-header
  display: flex
  align-items: center
  margin-bottom: 20px

.stack-title,
.stack-progress
  font-size: 16px
  font-weight: 600
  letter-spacing: 2px

.stack-title
  margin-right: 10px

.stack-item
  margin-bottom: 20px
  padding: 20px
  border-radius: 3px
  background: #f0f0f0

  &.perspective
    perspective: 100vw

.stack-todo-item
  display: flex
  flex-direction: column
  justify-content: center
  min-height: 90px
  padding: 20px 30px
  color: $white
  font-weight: 700
  font-size: 18px
  letter-spacing: 2px
  border-radius: 5px
  // border: 1px solid #ccc
  transition: 0.3s all ease-in-out
  background: linear-gradient(135deg, #f6d365 0%, #fda085 100%)
  box-shadow: rgba(0, 0, 0, 0.15) 0px 1px 2px 0px
  outline: 1px solid transparent // for anti-aliasing

  &.no-transition
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 30px 0px
    transition: none

  &.fast-transition
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 30px 0px
    transition-duration: 0.1s

.slide-right-enter-active,
.slide-right-leave-active,
.slide-left-enter-active,
.slide-left-leave-active
  overflow: hidden
  transition: all .7s ease

.slide-left-leave-to,
.slide-right-enter
  transform: translate(-100%)
  opacity: 0

.slide-left-enter,
.slide-right-leave-to
  transform: translate(100%)
  opacity: 0
